.day {
  -fx-background-color: white; //#F0FFFF
}

.night {
  -fx-background-color: #040018;
}

.day .label {
    -fx-text-fill: #190022;
    -fx-font-size: 32px;
    -fx-font-family: "Raavi";//"Gautami";//"Marlett";
}

.night .label {
    -fx-text-fill: #c5b2cc;
    -fx-font-size: 32px;
    -fx-font-family: "Raavi";//"Gautami";//"Marlett";
}

.day-button {
   -fx-background-color: white !important;
}

.night-button {
   -fx-background-color: #040018 !important;
}

.day .button {
  -fx-background-color: #6f6f8e;
  -fx-background-radius: 10px;
  -fx-text-fill: #F8F8FF;
  -fx-font-weight: bold;
}

.night .button {
  -fx-background-color: #6f6f8e;
  -fx-background-radius: 10px;
  -fx-text-fill: #000080;//#FBFFC9;
  -fx-font-weight: bold;
}

.pag {
    -fx-font-size: 16px;
}

.day .button.active {
   -fx-background-color: #4e4eb1 !important;
   -fx-font-size: 24px;
}

.night .button.active {
   -fx-background-color: #ecb3ff !important;
   -fx-font-size: 24px;
}


.helpGP .label {
    -fx-font-size: 12px;
}


.day .tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.night .tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}

.tab .tab-label 
{
-fx-background-color: transparent;    
-fx-alignment: CENTER;
-fx-text-fill: -fx-text-base-color;
}
/*
.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}

*/

.b {
    -fx-font-weight: bold;
}

.day .rotate {
    //-fx-text-base-color: white !important;
    //-fx-text-fill: white !important;
    -fx-background-color : radial-gradient(radius 180%, white, derive(white, -10%), derive(white, 10%));
    -fx-text-base-color: #190022;
}

.night .rotate {
    //-fx-text-base-color: white !important;
    //-fx-text-fill: white !important;
    -fx-background-color : radial-gradient(radius 90%, #040018, derive(#040018, 25%), derive(#040018, -25%));
    -fx-text-base-color: #c5b2cc;
}

.rotate *.tab-label{
    -fx-rotate: 90;
    -fx-font-weight: bold;
    -fx-font-size: 14px;  
}
/*
.anchor-pane {
    -fx-background-color: red;
}*/